<template name="register">
  <form id="register-form" action="action">
    <div class="row">
      <div class="col-md-2">
        <input class="form-control" type="email" placeholder="Email" id="account-email" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <input class="form-control" type="password" placeholder="Password" id="account-password" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <input class="btn btn-primary" type="submit" id="create-account" value="Create an Account" />
      </div>
    </div>
  </form>
</template>
