<template name="highchart">
  <div class="row">
    <div class="col-md-12">
      <div id="highchart">
      </div>
    </div>
  </div>
</template>

<template name="home">

  <input type="checkbox" id="nav-handler">
  <nav id="nav">
    <ul class="list-unstyled">
      <li id="yesterday-item"><a href="#" id="date-yesterday">{{ yesterday }} </a></li>
      <li id="today-item" class="active"><a href="#" id="date-today">{{ today }}</a></li>
      <li id="tomorrow-item"><a href="#" id="date-tomorrow">{{ tomorrow }}</a></li>
    </ul>
  </nav>

  <main id="main-container">
    <header id="header">
      {{ #if currentUser }}
        <label id="menu-button" for="nav-handler">☰</label>
      {{ else }}
      <div id="sign-in-item">
        <div id="sign-in-items">
            {{#if currentUser}}
              <a href="/account/{{currentUser.username}}" id="accounts"><img src="{{gravatar}}" class="circular" /></a>
              <br />
              <a href="" id="logout">logout</a>
            {{else}}
              <button class="btn btn-default" data-toggle="modal" data-target="#login" id="sign-in">
                Sign In
              </button>
              <br />
              <a href="" data-toggle="modal" data-target="#register" id="sign-in">
                Not Registered? Sign Up!
              </a>
            {{/if}}
          </div>
      </div>
      {{ /if }}
    </header>

    <section id="content-container">
      {{> highchart }}

      {{> options }}

      {{> form }}

      {{> footer}}
    </section>
  </main>
  {{> login }}
</template>

<template name="footer">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</template>
