<head>
  <title>Lunch-o-Meteor</title>
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.css" />
  <!-- javascript -->
  <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/highcharts.min.js"></script>
  <!-- meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
  <!-- favicon -->
  <link rel="shortcut icon" sizes="32x32" href="/favicon.ico?v=2">
</head>
