<template name="login">
  <form id="login-form" action="action">
    <div class="row">
      <div class="col-md-2">
        <input class="form-control" type="email" placeholder="Email" id="login-email" />
      </div>
    </div>
  <div class="row">
    <div class="col-md-2">
      <input class="form-control" type="password" placeholder="Password" id="login-password" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <input class="btn btn-primary" type="submit" id="login-button" value="Sign in" />
    </div>
  </div>
  </form>
</template>
